In [7]:
from langchain import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain.chat_models import QianfanChatEndpoint
import pymysql
from langchain.prompts import ChatPromptTemplate
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough

db_user = "pre_javadb"
db_password = "JfT5l%JvB998L3r!C"
db_host = "172.16.190.216:3806"
db_name = "pre_zykj_etk12"
db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")


def get_schema():
    return db.get_table_info()

def run_query(query):
    return db.run(query)

template = """Based on the table schema below, write a SQL query that would answer the user's question:
{schema}

Question: {question}
SQL Query:"""
prompt = ChatPromptTemplate.from_template(template)
model = QianfanChatEndpoint()
get_schema()
# 
# sql_response = (
#     RunnablePassthrough.assign(schema=get_schema)
#     | prompt
#     | model.bind(stop=["\nSQLResult:"])
#     | StrOutputParser()
# )
# 
# sql_response.invoke({"question": "How many staff are there?"})

'\nCREATE TABLE class_et_inclass_task (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tclass_id BIGINT(20) NOT NULL COMMENT \'班级id\' DEFAULT \'0\', \n\tcourse_arrangement_id BIGINT(20) NOT NULL COMMENT \'课表id\' DEFAULT \'0\', \n\tresource_examination_id BIGINT(20) NOT NULL COMMENT \'中台试卷id\' DEFAULT \'0\', \n\ttotal_score INTEGER(11) NOT NULL COMMENT \'试卷总分\' DEFAULT \'0\', \n\ttask_status INTEGER(4) NOT NULL COMMENT \'练习状态 0-未完成 1已完成\' DEFAULT \'0\', \n\ttask_publish_date DATETIME NOT NULL COMMENT \'任务最新下发时间\' DEFAULT CURRENT_TIMESTAMP, \n\tupdate_staff_id BIGINT(20) NOT NULL COMMENT \'更新人\' DEFAULT \'0\', \n\tcreator_staff_id BIGINT(20) NOT NULL COMMENT \'创建人\' DEFAULT \'0\', \n\tstatus INTEGER(4) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL COMMENT \'创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'班级-课中任务\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from class_et_inclass_task table:\nid\tclass_id\tcourse_arrangement_id\tresource_examination_id\ttotal_score\ttask_status\ttask_publish_date\tupdate_staff_id\tcreator_staff_id\tstatus\tupdate_date\tcreate_date\n1\t23413\t753599\t485\t0\t0\t2023-06-30 11:59:39\t1\t0\t1\t2023-06-23 09:44:14\t2023-06-16 17:09:44\n2\t23320\t756824\t481\t0\t1\t2023-06-30 11:59:39\t1957\t1957\t1\t2023-08-22 11:33:51\t2023-06-17 15:06:56\n3\t23413\t753601\t485\t0\t0\t2023-06-30 11:59:39\t0\t2892\t1\t2023-06-27 15:03:41\t2023-06-27 15:03:41\n*/\n\n\nCREATE TABLE class_et_student_inclass_task_record (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tclass_id BIGINT(20) NOT NULL COMMENT \'班级id\' DEFAULT \'0\', \n\tstudent_id BIGINT(20) NOT NULL COMMENT \'学生id\' DEFAULT \'0\', \n\tinclass_task_id BIGINT(20) NOT NULL COMMENT \'班级课中任务id\' DEFAULT \'0\', \n\tstudent_task_status INTEGER(4) NOT NULL COMMENT \'学生练习状态 0-未完成 1已完成\' DEFAULT \'0\', \n\tstudent_score INTEGER(11) NOT NULL COMMENT \'学生得分\' DEFAULT \'0\', \n\tresource_test_record_id INTEGER(20) NOT NULL COMMENT \' 考试结果ID（中台）\' DEFAULT \'0\', \n\tstatus INTEGER(4) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL COMMENT \'创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'班级-课中任务学生记录表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from class_et_student_inclass_task_record table:\nid\tclass_id\tstudent_id\tinclass_task_id\tstudent_task_status\tstudent_score\tresource_test_record_id\tstatus\tupdate_date\tcreate_date\n1\t23413\t168639\t1\t0\t3800\t47832\t1\t2023-06-23 09:44:17\t2023-06-16 17:38:39\n2\t23413\t168505\t1\t0\t1900\t48012\t1\t2023-06-23 09:44:17\t2023-06-16 17:38:39\n3\t23320\t168290\t2\t1\t0\t0\t1\t2023-08-22 11:33:50\t2023-06-17 15:06:56\n*/\n\n\nCREATE TABLE class_et_student_inclass_task_record_extend (\n\tinclass_task_record_id BIGINT(20) NOT NULL COMMENT \'课中任务学生记录id\' DEFAULT \'0\', \n\tstudent_answers MEDIUMTEXT COLLATE utf8mb4_unicode_ci COMMENT \'学生答题详情json字符串\', \n\tresult_report TEXT COLLATE utf8mb4_unicode_ci COMMENT \'结果报告json字符串\', \n\tstatus INTEGER(4) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL COMMENT \'创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (inclass_task_record_id)\n)COMMENT=\'班级-课中任务学生记录扩展表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from class_et_student_inclass_task_record_extend table:\ninclass_task_record_id\tstudent_answers\tresult_report\tstatus\tupdate_date\tcreate_date\n1\t{"examinationPaper":{"examinationDuration":2700,"examinationId":485,"examinationName":"Scratch第一次考试"\t[{"correctCount":"2","correctScore":"38.00","knowledgeId":"0","knowledgeName":"综合","questionAnswerLi\t1\t2023-06-23 09:44:16\t2023-06-17 10:53:39\n2\t{"examinationPaper":{"examinationDuration":2700,"examinationId":485,"examinationName":"Scratch第一次考试"\t[{"correctCount":"3","correctScore":"19.00","knowledgeId":"0","knowledgeName":"综合","questionAnswerLi\t1\t2023-06-29 09:09:08\t2023-06-17 11:04:03\n3\t{"examinationPaper":{"examinationDuration":3600,"examinationId":481,"examinationName":"包含编程题临时试卷","e\t[{"correctCount":"0","correctScore":"0.00","knowledgeId":"343","knowledgeName":"字符串","questionAnswer\t1\t2023-06-27 14:46:12\t2023-06-16 17:47:36\n*/\n\n\nCREATE TABLE class_student_book_read_history (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tcourse_id BIGINT(20) NOT NULL COMMENT \'课程id\', \n\tclass_id BIGINT(20) NOT NULL COMMENT \'班级id\', \n\tstudent_id BIGINT(20) NOT NULL COMMENT \'学生id\' DEFAULT \'0\', \n\tuser_id BIGINT(20) NOT NULL COMMENT \'用户id\' DEFAULT \'0\', \n\tresource_book_id BIGINT(20) NOT NULL COMMENT \'中台图书绘本id\' DEFAULT \'0\', \n\thistory_id BIGINT(20) NOT NULL COMMENT \'绘本听读历史记录id\' DEFAULT \'0\', \n\tscore DECIMAL(8, 1) NOT NULL COMMENT \'学生得分\' DEFAULT \'0.0\', \n\tstatus INTEGER(1) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tcreate_date DATETIME NOT NULL COMMENT \'绘本历史记录创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'班级学生绘本听读记录明细表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from class_student_book_read_history table:\nid\tcourse_id\tclass_id\tstudent_id\tuser_id\tresource_book_id\thistory_id\tscore\tstatus\tcreate_date\n1\t5\t54277\t188720\t51\t8\t67210\t170.8\t1\t2022-10-15 09:27:40\n2\t5\t54277\t188720\t51\t8\t120372\t2517.2\t1\t2023-02-02 10:18:12\n3\t5\t54277\t188720\t51\t8\t121996\t1789.1\t1\t2023-02-06 09:58:42\n*/\n\n\nCREATE TABLE inclass_task_question_record_history (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tclass_id BIGINT(20) NOT NULL COMMENT \'班级id\' DEFAULT \'0\', \n\tinclass_task_id BIGINT(20) NOT NULL COMMENT \'班级课中任务id\' DEFAULT \'0\', \n\tinclass_task_record_id BIGINT(20) NOT NULL COMMENT \'课中任务学生记录id\' DEFAULT \'0\', \n\tstudent_id BIGINT(20) NOT NULL COMMENT \'学生id\' DEFAULT \'0\', \n\tresource_question_id BIGINT(20) NOT NULL COMMENT \'中台题目id\' DEFAULT \'0\', \n\tbegin_time BIGINT(12) NOT NULL COMMENT \'学生考试开始时间\' DEFAULT \'0\', \n\tfinish_time BIGINT(12) NOT NULL COMMENT \'学生考试完成时间\' DEFAULT \'0\', \n\tis_correct INTEGER(4) NOT NULL COMMENT \'是否正确\' DEFAULT \'0\', \n\tsys_submit INTEGER(4) NOT NULL COMMENT \'是否由系统强制提交\' DEFAULT \'0\', \n\twrong_reason_id_set VARCHAR(1024) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'错误原因id集合\' DEFAULT \'\', \n\ttask_publish_date DATETIME NOT NULL COMMENT \'任务最新下发时间\' DEFAULT CURRENT_TIMESTAMP, \n\tstatus INTEGER(4) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL COMMENT \'创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'课中任务题目提交历史记录表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from inclass_task_question_record_history table:\nid\tclass_id\tinclass_task_id\tinclass_task_record_id\tstudent_id\tresource_question_id\tbegin_time\tfinish_time\tis_correct\tsys_submit\twrong_reason_id_set\ttask_publish_date\tstatus\tupdate_date\tcreate_date\n1\t23413\t1\t1\t168639\t12918\t1686966043\t1686969643\t1\t0\t\t2023-06-30 11:59:39\t1\t2023-06-17 11:03:22\t2023-06-17 11:03:22\n2\t23413\t1\t2\t168505\t12919\t1686971186\t1686971189\t0\t0\t\t2023-06-30 11:59:39\t1\t2023-06-17 11:06:30\t2023-06-17 11:06:30\n3\t23413\t1\t1\t168639\t12918\t1686966043\t1686969643\t1\t0\t\t2023-06-30 11:59:39\t1\t2023-06-17 11:12:17\t2023-06-17 11:12:17\n*/\n\n\nCREATE TABLE py_game_image_info (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tfolder_id VARCHAR(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'文件夹id\' DEFAULT \'0\', \n\tasset_format VARCHAR(16) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'图片格式\' DEFAULT \'\', \n\tasset_id VARCHAR(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'图片id\' DEFAULT \'\', \n\tasset_name VARCHAR(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'图片名称\' DEFAULT \'\', \n\tasset_size INTEGER(11) NOT NULL COMMENT \'图片大小\' DEFAULT \'0\', \n\tasset_no VARCHAR(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'图片编号\' DEFAULT \'\', \n\tupdate_staff_id BIGINT(20) NOT NULL COMMENT \'更新人\' DEFAULT \'0\', \n\tcreator_staff_id BIGINT(20) NOT NULL COMMENT \'创建人\' DEFAULT \'0\', \n\tstatus INTEGER(4) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL COMMENT \'创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'编程课图片临时表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from py_game_image_info table:\nid\tfolder_id\tasset_format\tasset_id\tasset_name\tasset_size\tasset_no\tupdate_staff_id\tcreator_staff_id\tstatus\tupdate_date\tcreate_date\n1\t0\tpng\tbecd796d89be469a998a3e7555973c25\tplane_right.png\t9934\t\r\n358d404e787342b8a7be64b879a7acc5\t0\t0\t1\t2022-03-08 17:36:54\t2022-03-08 17:36:54\n2\t0\tpng\t02120373af1f423d920fc8f749e6a8cf\tbullet.png\t679\t01db3698072a4584b98ec2b34b0d3132\t0\t0\t1\t2022-03-08 17:36:54\t2022-03-08 17:36:54\n3\t0\tpng\tbd7f3b6e993a4734ae04bf1160379de2\tplane.png\t9124\t03af9522d97840659321bb0474b41f14\t0\t0\t1\t2022-03-08 17:36:54\t2022-03-08 17:36:54\n*/\n\n\nCREATE TABLE recruit_exam_applicant_bi_detail (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tsubject_id INTEGER(4) NOT NULL COMMENT \'考试学科id\' DEFAULT \'0\', \n\texam_type INTEGER(4) NOT NULL COMMENT \'考试类型 1-社招 2-校招\' DEFAULT \'0\', \n\texam_id BIGINT(20) NOT NULL COMMENT \'招聘考试id\' DEFAULT \'0\', \n\texam_record_id BIGINT(20) NOT NULL COMMENT \'招聘考试记录id\' DEFAULT \'0\', \n\texam_name VARCHAR(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'考试名称\' DEFAULT \'\', \n\tapplicant_id BIGINT(20) NOT NULL COMMENT \'应聘者id\' DEFAULT \'0\', \n\tapplicant_name VARCHAR(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'应聘者名字\' DEFAULT \'\', \n\tphone VARCHAR(128) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT \'应聘者手机号\' DEFAULT \'\', \n\tgraduation_time BIGINT(20) NOT NULL COMMENT \'毕业时间\' DEFAULT \'0\', \n\tgraduation_school_id INTEGER(11) NOT NULL COMMENT \'毕业院校\' DEFAULT \'0\', \n\tdegree_type INTEGER(11) NOT NULL COMMENT \'学历\' DEFAULT \'0\', \n\tfit_course TINYINT(4) NOT NULL COMMENT \'适合课程 -1-不予置评 0-未通过 1-KB 2-NCE1 3-NCE2 4-KB待定\' DEFAULT \'0\', \n\tstatus INTEGER(1) NOT NULL COMMENT \'逻辑删除状态\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'招聘考试招聘者统计明细表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from recruit_exam_applicant_bi_detail table:\nid\tsubject_id\texam_type\texam_id\texam_record_id\texam_name\tapplicant_id\tapplicant_name\tphone\tgraduation_time\tgraduation_school_id\tdegree_type\tfit_course\tstatus\tupdate_date\tcreate_date\n1\t3\t2\t33\t651\t测试-小强\t148\t冬么\t18850220579\t0\t0\t0\t0\t0\t2023-03-04 02:10:05\t2023-02-07 14:32:57\n2\t3\t2\t33\t652\t测试-小强\t149\t徐公\t18850220577\t0\t0\t0\t0\t0\t2023-03-04 02:10:05\t2023-02-07 14:32:57\n3\t3\t2\t33\t653\t测试-小强\t145\t邹立祥\t18559836572\t0\t0\t0\t0\t0\t2023-03-04 02:10:05\t2023-02-07 14:32:58\n*/\n\n\nCREATE TABLE recruit_exam_applicant_degree_bi_summary (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tsubject_id INTEGER(4) NOT NULL COMMENT \'考试学科id\' DEFAULT \'0\', \n\texam_type INTEGER(4) NOT NULL COMMENT \'考试类型 1-社招 2-校招\' DEFAULT \'0\', \n\tgraduation_time BIGINT(20) NOT NULL COMMENT \'毕业时间\' DEFAULT \'0\', \n\tgraduation_school_id INTEGER(11) NOT NULL COMMENT \'毕业院校\' DEFAULT \'0\', \n\tdegree_type INTEGER(11) NOT NULL COMMENT \'学历\' DEFAULT \'0\', \n\tpass_num INTEGER(11) NOT NULL COMMENT \'录用人数\' DEFAULT \'0\', \n\tstatus INTEGER(1) NOT NULL COMMENT \'逻辑删除状态\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'应聘者学历分布统计表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from recruit_exam_applicant_degree_bi_summary table:\nid\tsubject_id\texam_type\tgraduation_time\tgraduation_school_id\tdegree_type\tpass_num\tstatus\tupdate_date\tcreate_date\n1\t3\t2\t0\t0\t0\t2\t1\t2023-07-26 14:10:01\t2023-02-07 14:33:08\n2\t3\t2\t0\t0\t2\t1\t0\t2023-02-09 10:18:25\t2023-02-08 10:09:36\n3\t3\t2\t1656604800000\t516\t3\t1\t0\t2023-02-09 10:26:03\t2023-02-08 10:09:36\n*/\n\n\nCREATE TABLE recruit_exam_applicant_school_bi_summary (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tsubject_id INTEGER(4) NOT NULL COMMENT \'考试学科id\' DEFAULT \'0\', \n\texam_type INTEGER(4) NOT NULL COMMENT \'考试类型 1-社招 2-校招\' DEFAULT \'0\', \n\tgraduation_time BIGINT(20) NOT NULL COMMENT \'毕业时间\' DEFAULT \'0\', \n\tgraduation_school_id INTEGER(11) NOT NULL COMMENT \'毕业院校\' DEFAULT \'0\', \n\ttotal_num INTEGER(11) NOT NULL COMMENT \'应聘总人数\' DEFAULT \'0\', \n\tpass_num INTEGER(11) NOT NULL COMMENT \'录用人数\' DEFAULT \'0\', \n\tstatus INTEGER(1) NOT NULL COMMENT \'逻辑删除状态\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'应聘者院校分布统计表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from recruit_exam_applicant_school_bi_summary table:\nid\tsubject_id\texam_type\tgraduation_time\tgraduation_school_id\ttotal_num\tpass_num\tstatus\tupdate_date\tcreate_date\n1\t3\t1\t0\t0\t25\t3\t1\t2023-07-26 14:10:00\t2023-02-07 14:33:07\n2\t3\t2\t0\t0\t158\t2\t1\t2023-07-26 14:10:00\t2023-02-07 14:33:07\n3\t3\t2\t1656604800000\t516\t1\t1\t1\t2023-07-26 14:10:00\t2023-02-08 10:09:35\n*/\n\n\nCREATE TABLE recruit_exam_bi (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\trecruit_exam_id BIGINT(20) NOT NULL COMMENT \'试卷id\' DEFAULT \'0\', \n\texam_type INTEGER(4) NOT NULL COMMENT \'笔试类型 0-线下 1-线上\' DEFAULT \'0\', \n\tresource_exam_id BIGINT(20) NOT NULL COMMENT \'引用中台试卷id\' DEFAULT \'0\', \n\trecruit_exam_record_id BIGINT(20) NOT NULL COMMENT \'招聘考试记录id\' DEFAULT \'0\', \n\tknowledge_id INTEGER(10) NOT NULL COMMENT \'知识点id\' DEFAULT \'0\', \n\tknowledge_name VARCHAR(64) COLLATE utf8mb4_unicode_ci COMMENT \'知识点名称\', \n\tbig_question_serial_number INTEGER(10) NOT NULL COMMENT \'大题序列号\' DEFAULT \'0\', \n\tbig_question_name VARCHAR(64) COLLATE utf8mb4_unicode_ci COMMENT \'大题名称\', \n\tsmall_question_serial_number INTEGER(10) NOT NULL COMMENT \'小题序号\' DEFAULT \'0\', \n\tsmall_question_id BIGINT(20) NOT NULL COMMENT \'小题题目id\' DEFAULT \'0\', \n\tis_correct INTEGER(4) NOT NULL COMMENT \'是否正确 0-错误 1-正确\' DEFAULT \'0\', \n\tbegin_time DATE NOT NULL COMMENT \'考试开始时间\' DEFAULT \'0000-00-00\', \n\tfinish_time DATE NOT NULL COMMENT \'考试结束时间\' DEFAULT \'0000-00-00\', \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP, \n\tstatus INTEGER(4) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tPRIMARY KEY (id)\n)COMMENT=\'招聘考试统计明细表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from recruit_exam_bi table:\nid\trecruit_exam_id\texam_type\tresource_exam_id\trecruit_exam_record_id\tknowledge_id\tknowledge_name\tbig_question_serial_number\tbig_question_name\tsmall_question_serial_number\tsmall_question_id\tis_correct\tbegin_time\tfinish_time\tupdate_date\tstatus\n1\t4\t1\t495\t1\t0\t综合\t1\t单选题\t2\t13092\t0\t2022-10-22\t2022-10-22\t2022-12-01 14:11:37\t0\n2\t4\t1\t495\t1\t0\t综合\t1\t单选题\t4\t13094\t1\t2022-10-22\t2022-10-22\t2022-12-01 14:11:37\t0\n3\t4\t1\t495\t1\t0\t综合\t1\t单选题\t5\t13095\t0\t2022-10-22\t2022-10-22\t2022-12-01 14:11:37\t0\n*/\n\n\nCREATE TABLE recruit_exam_bi_summary (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tresource_exam_id BIGINT(20) NOT NULL COMMENT \'引用中台试卷id\' DEFAULT \'0\', \n\texam_type INTEGER(4) NOT NULL COMMENT \'笔试类型 0-线下 1-线上\' DEFAULT \'0\', \n\texam_date DATE NOT NULL COMMENT \'考试日期\' DEFAULT \'0000-00-00\', \n\tbig_question_serial_number INTEGER(10) NOT NULL COMMENT \'大题序列号\' DEFAULT \'0\', \n\tbig_question_name VARCHAR(64) COLLATE utf8mb4_unicode_ci COMMENT \'大题名称\', \n\tsmall_question_serial_number INTEGER(10) NOT NULL COMMENT \'小题序号\' DEFAULT \'0\', \n\tsmall_question_id BIGINT(20) NOT NULL COMMENT \'小题题目id\' DEFAULT \'0\', \n\twrong_cnt INTEGER(4) NOT NULL COMMENT \'错题人次\' DEFAULT \'0\', \n\tall_cnt INTEGER(4) NOT NULL COMMENT \'答题总人次\' DEFAULT \'0\', \n\tcreate_date DATETIME NOT NULL COMMENT \'创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'招聘考试统计汇总表\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from recruit_exam_bi_summary table:\nid\tresource_exam_id\texam_type\texam_date\tbig_question_serial_number\tbig_question_name\tsmall_question_serial_number\tsmall_question_id\twrong_cnt\tall_cnt\tcreate_date\tupdate_date\n1\t495\t1\t2022-12-07\t1\t单选题\t1\t13091\t8\t18\t2022-12-17 16:13:33\t2023-01-14 01:01:06\n2\t495\t1\t2022-12-07\t1\t单选题\t2\t13092\t16\t18\t2022-12-17 16:13:33\t2023-01-14 01:01:06\n3\t495\t1\t2022-12-07\t1\t单选题\t3\t13093\t13\t18\t2022-12-17 16:13:33\t2023-01-14 01:01:06\n*/\n\n\nCREATE TABLE student_achievement (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tstudent_id BIGINT(20) NOT NULL COMMENT \'学生id\' DEFAULT \'0\', \n\tsubject_id INTEGER(11) NOT NULL COMMENT \'学科id\' DEFAULT \'0\', \n\tstatus INTEGER(4) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tgolds INTEGER(11) NOT NULL COMMENT \'金币数\' DEFAULT \'0\', \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL COMMENT \'创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'学生成就\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from student_achievement table:\nid\tstudent_id\tsubject_id\tstatus\tgolds\tupdate_date\tcreate_date\n1\t168460\t12\t1\t556\t2023-10-19 17:18:08\t2023-06-16 16:57:30\n2\t168509\t12\t1\t516\t2023-10-19 17:18:08\t2023-06-16 17:06:32\n3\t168459\t12\t1\t536\t2023-11-17 15:20:01\t2023-06-16 17:06:32\n*/\n\n\nCREATE TABLE student_audio_visual_view_history (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tstudent_id BIGINT(20) NOT NULL COMMENT \'学生id\' DEFAULT \'0\', \n\taudio_visual_topic BIGINT(20) NOT NULL COMMENT \'视听库专题id\' DEFAULT \'0\', \n\ttopic_type INTEGER(4) NOT NULL COMMENT \'专题类型 (0-未知 1 视频专题 2 音频专题)\' DEFAULT \'0\', \n\tresource_file_id BIGINT(20) NOT NULL COMMENT \'中台资源文件id\' DEFAULT \'0\', \n\tcompletion_long INTEGER(11) NOT NULL COMMENT \'完成时长(秒)\' DEFAULT \'0\', \n\tstatus TINYINT(1) NOT NULL COMMENT \'逻辑删除状态  1存在  0删除\' DEFAULT \'1\', \n\tupdate_date DATETIME NOT NULL COMMENT \'修改时间\' DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tcreate_date DATETIME NOT NULL COMMENT \'创建时间\' DEFAULT CURRENT_TIMESTAMP, \n\tPRIMARY KEY (id)\n)COMMENT=\'学生视听库播放历史记录\' COLLATE utf8mb4_unicode_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from student_audio_visual_view_history table:\nid\tstudent_id\taudio_visual_topic\ttopic_type\tresource_file_id\tcompletion_long\tstatus\tupdate_date\tcreate_date\n1\t168639\t1\t0\t37\t0\t0\t2023-09-12 11:12:13\t2023-09-12 11:08:32\n2\t168639\t1\t1\t37\t0\t1\t2023-09-12 11:13:13\t2023-09-12 11:13:13\n3\t168647\t20\t2\t163\t0\t1\t2023-09-16 14:34:07\t2023-09-13 12:00:49\n*/\n\n\nCREATE TABLE student_gold_record (\n\tid BIGINT(20) NOT NULL AUTO_INCREMENT, \n\tstudent_id BIGINT(20) NOT NULL COMMENT \'学生id\' DEFAULT \'0\', \n\tsubject_id INTEGER(11) NOT NULL COMMENT \'学科id\' DEFAULT \'0\', \n\tclass_id BIGINT(20) NOT NULL COMMENT \'班级id\' DEFAULT